@font-face {
  font-family: 'TT Norms Pro';
  src: url('fonts/TT_Norms_Pro_Normal.woff2') format('woff2'),
    url('fonts/TT_Norms_Pro_Normal.woff') format('woff'),
    url('https://app.bitrise.io/assets/fonts/ttnorms/TT_Norms_Pro_Normal.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('fonts/TT_Norms_Pro_Bold.woff2') format('woff2'), url('fonts/TT_Norms_Pro_Bold.woff') format('woff'),
    url('https://app.bitrise.io/assets/fonts/ttnorms/TT_Norms_Pro_Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('fonts/TT_Norms_Pro_DemiBold.woff2') format('woff2'), url('fonts/TT_Norms_Pro_DemiBold.woff') format('woff'),
    url('https://app.bitrise.io/assets/fonts/ttnorms/TT_Norms_Pro_Bold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('fonts/TT_Norms_Pro_Bold.woff2') format('woff2'), url('fonts/TT_Norms_Pro_Bold.woff') format('woff'),
    url('https://app.bitrise.io/assets/fonts/ttnorms/TT_Norms_Pro_Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro Self Hosted';
  src: url('fonts/SourceCodePro-Regular_self-hosted.woff2') format('woff2');
  font-display: swap;
}
